.jump-button {
	position: absolute;
	bottom: 64px;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.2s;
	padding: 15px 40px;
	font-size: 1.2rem;
	background: aliceblue;
	border: none;
	border-radius: 2rem;
	animation: alternate infinite;
	animation-name: float;
	animation-duration: 2s;
}

@keyframes float {
	from {bottom: 64px}
	to {bottom: 72px}
}

.jump-button:hover {
	transform: translateX(-50%) scale(1.1);
}