.contact__form {
	margin: 50px auto;
}

.contact__form input,textarea{
	padding: 8px;
	font-size: 1em;
	display: block;
	width: 100%;
	border: solid 1px #cccccc;
	background-color: #f5f5f5;
	margin-bottom: 20px;
	margin-top: 10px;
	box-sizing: border-box;
}

.contact_form label {
	display: block;
}

.contact__form input[type=submit] {
	width: 100px;
	margin: 0;
	font-weight: 400;
	color: inherit;
}

.toprow {
	display: flex;
	justify-content: space-between;
}

.sidebyside {
	width: 48%;
}

@media screen and (max-width: 1000px) {
	.sidebyside {
		width: 100%;
	}
	.toprow {
		display: inherit;
	}
}