.hero {
  height: 100vh;
  background: linear-gradient(90deg, #8EC5FC, #E0C3FC);
}
.hero__wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.hero__inner-text {
  position: absolute;
  top: 35%;
  max-width: 400px;
}

@media screen and (max-width: 1200px){
  .hero__inner-text {
    text-align: center;
    position: relative;
    padding: 128px 32px;
    margin: 0 auto;
  }
}